.main-section {
    height: 100vh;
    background-image: url(./librerias/assets/img/anonimus.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title {
    text-align: center;
    color: #fff;
    padding: 10px;
    line-height: 3.5rem;
}
.main-title h1 {
    font-weight: bold;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-title h2{
    color: rgb(255, 255, 255);
    font-family: cursive;
}
.social-nav {
    background: rgb(255, 255, 255);
}
nav.social-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    margin-top: 300px;
    background-color: rgba(255, 255, 255, 0.5);
}
.buton{
    margin-bottom: 15px;
    margin: 10px 15px;
}
.content {
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    width: 100%;
}
.contentInfo{
    min-height: 1px;
}

.contBasic {
    padding-left: 16px;
    padding-right: 16px;
}
.nomb {
    height: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
}
.Nomb.nom {
    height: auto;
}
.headc{
    display: flex;
}
.contentInterno {
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.margin-bottom{
    margin-bottom: 15px;
}
.section-head {
    text-align: center;
    margin-bottom: 80px;
}
.full-width {
    width: 100% !important;
}
.mb-50 {
    margin-bottom: 50px !important;
}
.form-group {
    margin-bottom: 1rem;
}
input{
    width: 100%;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}
.margin{
    margin: 10px;
}
.decoration{
    background: black;
    color: white;
}
.decoracionButton{
margin: auto;
padding: 10px;
}
@media(min-width: 15px) and (max-width: 991px){
    .col-12{
        width: 100%;
    }
}
@media(min-width: 15px) and (max-width: 991px){
    .col-12-title-center{
        text-align: center;
        margin: auto;
        
    }
}
.text-aling-center{
    text-align: center;
}