.mainSectionButton button {
    background-color: #1ac8c8;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 300px;
    right: 30px;
    border: none;
    color: #fff;
}
.mainSectionButton2 button {
    background-color: #1ac8c8;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 200px;
    right: 30px;
    border: none;
    color: #fff;
  
}
.mainSectionButton3 button {
    background-color: #1ac8c8;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 100px;
    right: 30px;
    border: none;
    color: #fff;
  
}