.separator{
    justify-content: space-between;
}

.display-flex{
display: flex;

}
.aling-items{
align-items: center;
}
nav{
    min-height: 90px;
    display: contents;

}
.btn-menu{
    background-color: transparent;
    border: 0;
}
nav .menu{
 display:  none;   
}
nav .menu.visible{
    display: block;
    background-color: whitesmoke;
}

.position-Relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.top-100{
    top: 85px;
    left: 0;
}


.flex-wrap{
    flex-wrap: wrap;
}
.w-100{
    width: 100%;
}
/*
* {
    margin: 0;
    padding: 0;
    color: black;
    background-color: whitesmoke;
    box-sizing: border-box;
}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 80%;
    margin: auto;
}
.nav-contenedor {
    background-color:white;
    width: 20px;
  }

  nav .marca {
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
  }
 /* 
  nav li {
    display: inline-block;
  }
  */
  nav li a {
      font-weight: 600;
      padding: 10px;
      display: inline-block;
      font-size: 0.8rem;
  }
  @media(min-width: 768px){
    .burger-menu{
        display: none;
    }
    
     nav .menu{
     display: block;
     position: static;
     width: auto;
    }
    nav .menu li{
    display: inline-block;    
    }
}
body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.fixed-header{
    position:fixed;
    width:100%;
    top:0;
    background-color: cadetblue;
    transition: all 0.3s ease;
}